.root {
  width: 100vw;
  height: calc(100vh - 100px);
  padding-top: 100px,
}

.container {
  padding: 6.8rem;
}

.card {
  padding: 80px 21.88vw;
}

.header {
  text-align: center;
  width: 42.45vw;
}

.title {
  color: var(--text-primary-color);
  text-transform: uppercase;
}

.subtitle {
  font-size: 16px;
  color: var(--text-secondary-color);
}

.body {
  margin-top: 24px;
  width: 42.45vw;
}

.footer {
  width: 42.45vw;
}

.formControl {
  margin-bottom: 20px;
}

.button {
  height: 43px;
  text-transform: uppercase;
}

.signUpBtn {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
}


@media (max-width: 750px) {
  .container {
    padding-right: 28px;
    padding-left: 21px;
  }

  .card {
    padding-right: 28px;
    padding-left: 21px;
  }

  .header {
    width: 100%;
  }

  .body {
    width: 100%;
  }

  .footer {
    width: 100%;
  }
}
