.variant-contained:disabled {
  background-color: var(--grey-dark-color);
  color: #d1d1d1;
}

.variant-contained {
  border-radius: 4;
  border: 0;
  padding: 10px 20px;
}

.color-primary{
  background: var(--primary-main-color);
  color: var(--primary-contrast-text-color);
  border-color: var(--primary-main-color);
}

.color-info {
  background: var(--info-main-color);
  color: var(--info-contrast-text-color);
  border-color: var(--info-main-color);
}

.color-error {
  background: var(--error-main-color);
  color: var(--error-contrast-text-color);
  border-color: var(--error-main-color);
}

.color-grey {
  background: var(--grey-main-color);
  color: var(--grey-contrast-text-color);
  border-color: var(--grey-main-color);
}

.variant-outlined {
  background: #ffffff00;
  border-radius: 4px;
  padding: 10px 20px;
  border-style: solid;
  border-width: 1px;
  color: #000;
}

.variant-outlined.color-info {
  color: var(--info-dark-color);
}
.variant-outlined.color-error {
  color: var(--error-dark-color);
}
.variant-outlined.color-grey {
  color: var(--grey-dark-color);
}

.variant-contained {
  border-radius: 4px;
  border: 0;
  padding: 10px 20px;
}
.variant-contained:hover.color-primary {
  background-color: var(--primary-dark-color);
}
.variant-contained:hover.color-info {
  background-color: var(--info-dark-color);
}
.variant-contained:hover.color-error {
  background-color: var(--error-dark-color);
}
.variant-contained:hover.color-grey {
  background-color: var(--grey-dark-color);
}



.variant-icon {
  border: 1px solid;
  text-align: center;
  border-radius: 40px;
  line-height: 5px;
  width: 40px;
  height: 40px;
  background-color: #ffffff00;
}

.variant-icon.color-info {
  border-color: var(--info-main-color);
  color: var(--info-main-color);
}
.variant-icon.color-error {
  border-color: var(--error-main-color);
  color: var(--error-main-color);
}
.variant-icon.color-grey {
  border-color: var(--grey-main-color);
  color: var(--grey-main-color);
}

.max-width {
  width: 100%;
}
